@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-width: 240px;
  --header-height: 48px;
  --footer-height: 32px;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Dark mode */
.dark {
  color-scheme: dark;
}
